body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    margin: 20px;
}

form div input {
    padding: 2px 5px, 0px 5px
}


form div button {
    margin-top: 10px;
    align-items: center;
}

.container{
    text-align: center;
}

.container-title, .container-form{
    text-align: left; 
}

.container-title {
    position: relative;
    background-color: #fff;
}

.title-form {
    position: absolute;
    background-color: white;
    margin-left: 3.2rem;
    margin-top: -0.4rem;
    padding: 0rem 0.5rem;
}
.container-form {
    border: solid 1px #000;
    padding: 1rem 1.3rem 0.6rem 1.3rem;  
    margin-bottom: 1px; 
}

table {
    text-align: center;
    margin: 0rem 1rem;
}

table thead tr th{
    padding: 0.1rem 2.7rem;
}

table tbody tr td{
    padding: 0.1rem 1.2rem;
}
