.footer {
    background-color: #7edb18;
    padding: 0.8rem;
    text-align: center;
    width: 100%;
    position: fixed; /* apagar após  incerção do conteudo*/
    bottom: 0; /* apagar após  incerção do conteudo*/
}