header {
    display: flex;
}

.nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-menu {
    text-align: center;
    background-color: #00796b;
    padding: 2.375rem 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.container-menu {
    background-color: #029786;
    padding: 0.1rem 0;
}
.container-itens{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 0;
}
.iten {
    list-style: none;
}

.iten-link {
    text-decoration: none;
    color: #fff;
}